bm-tags {
  bm-tag {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &:last-child {
    margin-bottom: -0.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .tags {
    &.is-right {
      bm-tag {
        &:not(:first-child) {
          .tag {
            margin-left: 0.5rem;
          }
        }

        &:not(:last-child) {
          .tag {
            margin-right: 0;
          }
        }
      }
    }

    &.has-addons {
      bm-tag {
        &:not(:first-child) {
          .tag {
            margin-left: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }

        &:not(:last-child) {
          .tag {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}
