@import '../../../../node_modules/bulma-scss/form/shared';
@import '../../../../node_modules/bulma-scss/form/tools';

bm-field {
  &:not(:last-child) {
    .field {
      margin-bottom: 0.75rem;
    }
  }
}
